{erl_opts, [debug_info,
            {i, ["include"]}]}.

{erl_first_files,
 ["src/tw_actor.erl"
 ]}.

{deps,[
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
    {'uuid', ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.0"}}}
 ]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
